*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-primario: #A0FFA2;
  --color-footer: #649464;
  --fuente-header: 'Roboto', sans-serif;
  --fuente-text:'Lato', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
   font-family: var(--fuente-text);
}
header{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 40px;
  text-decoration: underline;
  font-family: var(--fuente-header);
}
.button{
  padding: 10px 20px;
  background-color: var(--color-primario);
  border-radius: 10px;
  box-shadow: 0 1px 3px black;
}
.button a{
  text-decoration: none;
  color: black;
}
.header__main{
  margin: 40px auto;
  width: 70%;
  text-align: center;
}
.header__main h2{
  font-family: var(--fuente-header);
  margin-bottom: 10px;
}
/* IMG */
img{
  width: 100%;
  max-width: 600px;
}
/* HR */
hr{
  width: 90%;
  margin: auto;
  margin-bottom:25px;
}
.article{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 90px auto;
}
.contenedor{
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button__uno{
  width: 120px;
}
.button__dos{
  width: 120px;
}

/* FOOTER */

footer{
  position: relative;
  margin-top: 150px;
  background-color: var(--color-footer);
}
.footer{ 
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}
.wave{
  position: absolute;
  width: 100%;
  bottom: 99%;
}
.information{
  max-width: 400px;
}
.information h2{
  margin-bottom: 15px;
}
.information p{
  line-height: 1.5;
}
.tres{
  margin: 10px;
  width: 100px;
}
.conocimientos{
  max-width: 200px;
}
.conocimientos h2{
  margin-bottom: 15px;
}
.conocimientos ul li{
  list-style: none;
  margin-bottom: 5px;
}
#contacto{
  margin: 20px auto;
  font-size: 25px;
}
.facebook{
  color: white;
  margin-right: 10px;
}
.youtube{
  color: white;
  margin-right: 10px;
}
.telefono{
  color: white;
}

/* MEDIA QUERIS */
@media (min-width: 700px){
  .article__uno{
    flex-direction: row;
  }
  .article__dos{
    flex-direction: row-reverse;
  }
  .footer{
    flex-direction: row;
  }
  .conocimientos{
    text-align: center;
    margin-left: 70px;
  }
}